@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mantenimiento de contactos y socios</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus, lorem ut fermentum sollicitudin, est quam elementum metus, et volutpat dui purus in tortor. Curabitur id massa lectus. Maecenas venenatis tempor porttitor. Sed lacinia posuere placerat. Proin sodales imperdiet orci, sed gravida risus tempor et. Duis nec purus a neque scelerisque vestibulum. Duis tincidunt diam at tellus fringilla, eu imperdiet ex interdum. Aenean elementum nisi risus, et scelerisque augue porta posuere. Nunc sed lorem quis enim hendrerit vulputate vitae at ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis eu nisi quis erat faucibus consequat.</p>
    <p>Duis nec purus a neque scelerisque vestibulum. Duis tincidunt diam at tellus fringilla, eu imperdiet ex interdum. Aenean elementum nisi risus, et scelerisque augue porta posuere. Nunc sed lorem quis enim hendrerit vulputate vitae at ipsum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis eu nisi quis erat faucibus consequat. Integer tempus, ligula eleifend dapibus imperdiet, dolor elit imperdiet mauris, et placerat nunc arcu sit amet ligula. Suspendisse id nibh quis lacus luctus lacinia quis vitae diam.</p>
</div>